.user-container{
    margin-bottom: 30px;
}
.user-profile{
    margin:0 auto 30px;
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    align-items: center;
}
.user-details{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding:20px;
    background-color:lightcyan;
    border-radius:13px;
}
.user-details div{
    min-width: 80px;
    background:#fff;
    padding:3px;
    border-radius:7px;
}