.study-item-card{
    background: rgba(255, 255, 255, 0.758);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 40px -12px #171717;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}
.card-img img{
    width: 100%;
    
}
.card-text{
    padding:10px;
    display:flex;
    flex-direction: column;
    row-gap: 10px;
}
.card-text h3{
    min-height: 60px;
    border-bottom: 2px solid #ddd;
}
.card-text .details{
    text-align: justify;
}
.card-footer{
    margin-top: 30px;
}
.card-btn {
    border: none;
    padding: 13px;
    width: 100%;
    text-align: center;
    background: #176b28;
    background-image: linear-gradient(45deg, black, transparent,black);
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.card-btn:hover {
    border: none;
    background: #a60f0f;
    background-image: linear-gradient(45deg, black, transparent,black);
    font-weight: 700;
    color: #fff;
    font-size: 18px;
}